2022_11/1

In [1]:
import numpy as np

In [2]:
def create():
    
    with open('data/2022_11.txt') as f:
        data = f.read().splitlines()

    monkeys = []

    for i in range(0,(len(data)//7+1)*7,7):

        items = list(map(int,data[1+i][18:].split(', ')))
        operation = data[2+i][19:].split(' ')
        test = int(data[3+i][21:])
        opt1 = int(data[4+i][29:])
        opt2 = int(data[5+i][30:])

        monkeys.append([items, operation, test, opt1, opt2, 0])

    return monkeys

In [3]:
def operation(item, op):
    
    if op[2] == 'old':
        second = item
    else:
        second = int(op[2])
            
    if op[1] == '+':
        value = item + second
    else:
        value = item * second
    
    return value

In [4]:
monkeys = create()

for r in range(20):

    for mki, mk in enumerate(monkeys):

        for item in mk[0]:
                   
            value = operation(item, mk[1])

            value = value//3

            if value % mk[2] == 0:
                monkeys[mk[3]][0].append(value)
            else:
                monkeys[mk[4]][0].append(value)

            monkeys[mki][0] = mk[0][1:]
            
            monkeys[mki][-1] += 1
        
result = np.prod(np.sort(np.array(monkeys, dtype=object).transpose()[-1])[-2:])
print('Result =', result) # 66802

Result = 66802

2022_11/2 - IN PROGRESS

In [5]:
from tqdm import tqdm

In [6]:
dt = np.int64

In [7]:
def create():
    
    with open('data/2022_11_test.txt') as f:
        data = f.read().splitlines()

    monkeys = []

    for i in range(0,(len(data)//7+1)*7,7):

        items = list(map(int,data[1+i][18:].split(', ')))
        operation = data[2+i][19:].split(' ')[1:] 
        test = int(data[3+i][21:])
        opt1 = int(data[4+i][29:])
        opt2 = int(data[5+i][30:])

        monkeys.append([items, operation, test, opt1, opt2, 0])

    return monkeys

In [8]:
def operation(item, op):
    
    if op[-1] == 'old':
        second = item
    else:
        second = [int(op[-1])]*len(item)
     
    if op[0] == '+':
        value = np.array(item,dtype = dt) + np.array(second,dtype = dt)
    else:
        value = np.array(item,dtype = dt) * np.array(second,dtype = dt)

    value = np.array(value,dtype = dt)
    
    return value

In [9]:
monkeys = create()

#trans = np.array(monkeys, dtype=object).transpose()

for r in range(20):

    for mki, mk in enumerate(monkeys):
        

        
        value = operation(mk[0],mk[1])
      
        value = value//1 # DELETE    
        
        val1 = np.array(value[value % mk[2] == 0],dtype = dt).tolist()
        val2 = np.array(value[value % mk[2] != 0],dtype = dt).tolist()

        
        monkeys[mk[3]][0] += val1
        monkeys[mk[4]][0] += val2

        monkeys[mki][-1] += len(mk[0])
        monkeys[mki][0] = []
        
       # print(np.array(monkeys, dtype=object).transpose()[0])
result = np.prod(np.sort(np.array(monkeys, dtype=object).transpose()[-1])[-2:])
print('Result =', result) # 2713310158 (test), @1000: 5204 4792 199 5192
print(np.array(monkeys, dtype=object).transpose()[-1]) # 99., 97,8, 103 #10197 # too low 17929199596

Result = 10197
[99 97 8 103]

In [10]:
(490 + 17) % 13, 490 % 13 + 17

(0, 26)